.content{
    /*width:1024px;*/
    width:100%;
    margin:50px auto;
    padding:20px;
}

.content-header{
    padding-bottom:20px;
}
.content-header img{
    width:100px;
    height:100px;
}
.nickName{
    vertical-align:bottom;
}
.button-tool{
    padding-top:20px;
}

.user-form{
    margin-top:20px;
    padding:20px;
    overflow:hidden;
    border:1px solid #ddd;
    border-top:2px solid #66ccff;
    background:#f9fcfe;
}
.user-form .userImg{
    float:left;
    width:150px;
    height:150px;
}
.user-form .userImg img{
    width:150px;
    height:150px;
    border:5px solid #e9eff3;
}
.user-form .userInfo{
    margin-left:150px;
}

.RecommendTitle{
	color:#66ccff;
	font-size: 18px;
	
}

/*@start------用户推荐部分美化*/
.testimonial-bg{
		    background: linear-gradient(to top, #00F5FF , #87cefa);
		}
		.testimonial{
		    margin: 0 15px;
		}
		.testimonial .testimonial-profile{
		    float: left;
		    width: 27%;
		}
		.testimonial .testimonial-profile img{
		    width: 100%;
		    height: auto;
		}
		.testimonial .testimonial-content{
		    padding-left: 30%;
		}
		.testimonial .testimonial-title{
		    margin-bottom:0;
		}
		.testimonial .testimonial-title a{
		    font-size:15px;
		    color: #A020F0;
		    letter-spacing:3px;
		    display: block;
		    text-transform: uppercase;
		    margin-bottom:4px;
		}
		.testimonial .testimonial-post{
		    display:block;
		    color: #7CFC00;
		    margin-bottom:10px;
		}
		.testimonial .testimonial-post:after{
		    content:"";
		    width:100%;
		    display: block;
		    margin:10px 0 auto;
		    border-top:1px solid #7CFC00;
		}
		.testimonial .testimonial-description{
		    color:#EE7621;
		    font-size: 14px;
		    line-height:23px;
		}
		.testimonial .social-links{
		    padding:0;
		    margin:0;
		}
		.testimonial .social-links li{
		    list-style:none;
		    margin-right:5px;
		    display:inline-block;
		}
		.testimonial .social-links li a{
		    width:30px;
		    height:30px;
		    line-height:30px;
		    color:#fff;
		    text-align:center;
		}
		.testimonial .social-links li a:hover{
		    text-decoration: none;
		}
		
		
		.owl-pagination{
		   /* margin-top: 40px;*/
		}
		.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
		    background:#3F4144;
		    border:3px solid #fff;
		}
		@media only screen and (max-width: 767px) {
		    .testimonial{
		        text-align: center;
		        padding-bottom: 5px;
		    }
		    .testimonial .testimonial-content{
		        padding: 0;
		    }
		    .testimonial .testimonial-profile{
		        float:none;
		        width: 30%;
		        margin: 0 auto;
		        padding: 0;
		    }
		}
		.mt50{/*padding-top: 50px;*/}
		
		/*@end------用户推荐部分美化*/