@CHARSET "UTF-8";
/*------------------------------@start 焦点图部分---------------------------------*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


svg {
  display: block;
  overflow: visible;
}

.slider-container {
  position: relative;
  margin-top:134px;
  height: 500px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}

.slide:nth-child(4) .slide__overlay-path {
  fill: #cbc6c3;
}

@media (max-width: 991px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
  }
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  -webkit-transition: -webkit-transform 0.5s 0.5s, opacity 0.2s 0.5s;
          transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  will-change: transform, opacity;
  -webkit-transform: translate3d(-20%, 0, 0);
          transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__overlay {
    display: none;
  }
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 12%;
  color: #fff;
  -webkit-transition: -webkit-transform 0.5s 0.8s, opacity 0.5s 0.8s;
          transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  will-change: transform, opacity;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
@media (max-width: 991px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    -webkit-transition: -webkit-transform 0.5s 0.5s, opacity 0.5s 0.5s;
            transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    padding: 0 1rem;
  }
}
.slide__text-heading {
  font-family: "Polar", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .slide__text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
}
.slide__text-desc {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .slide__text-desc {
    display: none;
  }
}
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.3rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
@media (max-width: 991px) {
  .slide__text-link {
    display: none;
  }
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}
/*------------------------------@end 焦点图部分---------------------------------*/

div{
  display: block;
}

.small-icon{
  float: left;
  width: 50px;
  height: 50px;
  padding: 1px;
  border: 1px solid #e7e7e7;
}
.geyan-words{
  float: left;
  width: 735px;
  height: 56px;
  line-height: 56px;
  overflow: hidden;
}
.declare-pictures-btn{
	width:200px;
	height:38px;
	margin-left:20px;
	margin-top:7px;
	float:right;
	border-radius:5px;
}
.declare-pictures-btn a{
	background: url("./../images/declarepictures.png") no-repeat;
	width:200px;
	height:154px;
	margin:0 auto;
	display: block;
	text-indent: -9999px;
	border-radius:5px;
	overflow:hidden;
	outline: 0;
}
.recommand-list{
	float:left;
}
.recommand{
	width:1100px;
	height:255px;
	border:1px solid #e4e7e8;
	padding:10px 0px 30px 20px;
	margin-bottom:20px;
}
.recommand-title{
	font-family: '微软雅黑','黑体';
	font-size:20px;
	color:#666;
}
.pictures-categories{
	margin:10px 0px 15px 0;
	line-height:24px;
	height:24px;
}
.pictures-categories li{
	display: inline-block;
	background: #eaf4ff;
	border-radius:5px;
	border:1px solid #d5e7ed;
	white-space:nowrap;
	float: left;
	font-size:14px;
	margin:0 5px 5px 0;
}
.pictures-categories a{
	cursor:pointer;
	display: inline-block;
	padding: 0 10px;
	line-height: 24px;
	border-radius:4px;
}
.pictures-categories a.pictures-active{
	color:white;
	background: url("./../images/choose-tab-bg_fca8f408.jpg") repeat-x;
	text-decoration: none;
}
.hottest-recommand{
	border-top: 1px dotted #DDD;
	width:1000px;
	padding:10px 0 0 0;
	position:relative;
}
.hottest-tags{
    font-family: '微软雅黑','黑体';
    font-size:20px;
	color:#666;
}
.tags-categories{
	margin:10px 0 15px 0;
}
.tags-categories li{
		display: inline-block;
	background: #eaf4ff;
	border-radius:5px;
	border:1px solid #d5e7ed;
	white-space:nowrap;
	float: left;
	font-size:14px;
	margin:0 5px 5px 0;
}
.tags-categories a{
	cursor:pointer;
	display: inline-block;
	padding: 0 10px;
	line-height: 24px;
	border-radius:4px;
}
.tags-categories a.tags-active{
	color:white;
	background: url("./../images/choose-tab-bg_fca8f408.jpg") repeat-x;
	text-decoration: none;
}

/*----------------@start相册样式-------------*/
#gallery-wrapper {
		position: relative;
		max-width: 75%;
		width: 75%;
		margin:50px auto;
		}
		img.thumb {
		width: 100%;
		max-width: 100%;
		height: auto;
		}
		.white-panel {
		position: absolute;
		background: white;
		border-radius: 5px;
		box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
		padding: 10px;
		}
		.white-panel h1 {
		font-size: 1em;
		}
		.white-panel h1 a {
		color: #A92733;
		}
		.white-panel:hover {
		box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
		margin-top: -5px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		}          
/*----------------@end 相册样式--------------*/