<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
           
<!-- 配置连接池 -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:c3p0.properties" />
	<!-- 配置c3p0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
		<property name="minPoolSize" value="20" />
        <property name="maxPoolSize" value="200" />
        <property name="maxIdleTime" value="30" />
        <property name="acquireIncrement" value="2" />
        <property name="maxStatements" value="200" />
        <property name="initialPoolSize" value="10" />
        <property name="acquireRetryAttempts" value="60" />
        <property name="breakAfterAcquireFailure" value="false" />
        <property name="testConnectionOnCheckout" value="false" />
        <property name="acquireRetryDelay" value="1000" />
        <property name="idleConnectionTestPeriod" value="30"></property>
	</bean>
	
	<!-- hibernate相关信息 -->
	<bean id="mysessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置hibernate其他属性 -->
		<property name="hibernateProperties">
			<props> 
			<prop key="hibernate.dialect">alan.share.dialect.SqlServer2008Dialect</prop>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop> -->
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置 hibernate 映射文件 -->
		<property name="mappingResources">
		<list>
		<value>alan/share/user/model/TripUser.hbm.xml</value>
		<value>alan/share/user/model/PayAttention.hbm.xml</value>
		<value>alan/share/user/model/Visitor.hbm.xml</value>
		<value>alan/share/user/model/Comments.hbm.xml</value>
		<value>alan/share/user/model/Reply.hbm.xml</value>
		<value>alan/share/user/model/ClickZan.hbm.xml</value>
		<value>alan/share/user/model/SecrectMessage.hbm.xml</value>
		<value>alan/share/user/model/UserFeedBack.hbm.xml</value>
		<value>alan/share/user/model/BestChoose.hbm.xml</value>
		<value>alan/share/officialstrategy/model/City.hbm.xml</value>
		<value>alan/share/officialstrategy/model/Provinces.hbm.xml</value>
		<value>alan/share/officialstrategy/model/OfficialStrategy.hbm.xml</value>
		<value>alan/share/officialstrategy/model/Destination.hbm.xml</value>
		<value>alan/share/officialstrategy/model/LocalInformation.hbm.xml</value>
		<value>alan/share/officialstrategy/model/Location.hbm.xml</value>
		<value>alan/share/officialstrategy/model/TourismCategory.hbm.xml</value>
		<value>alan/share/officialstrategy/model/TourismAttraction.hbm.xml</value>
		<value>alan/share/officialstrategy/model/TourismCovers.hbm.xml</value>
		<value>alan/share/officialstrategy/model/Cuision.hbm.xml</value>
		<value>alan/share/officialstrategy/model/Routes.hbm.xml</value>
		<value>alan/share/officialstrategy/model/CityIndexRecommend.hbm.xml</value>
		<value>alan/share/photo/model/AlbumTags.hbm.xml</value>
		<value>alan/share/photo/model/UserAlbums.hbm.xml</value>
		<value>alan/share/photo/model/UserPhotos.hbm.xml</value>
		<value>alan/share/userstrategy/model/UserStrategyTag.hbm.xml</value>
		<value>alan/share/userstrategy/model/UserStrategy.hbm.xml</value>
		<value>alan/share/skillacademy/model/SkillAcademyCategory.hbm.xml</value>
		<value>alan/share/skillacademy/model/SkillAcademyHotTag.hbm.xml</value>
		<value>alan/share/skillacademy/model/SkillAcademySecondTag.hbm.xml</value>
		<value>alan/share/skillacademy/model/SkillAcademy.hbm.xml</value>
		<value>alan/share/product/model/ProductCategory.hbm.xml</value>
		<value>alan/share/product/model/ProductSecondCategory.hbm.xml</value>
		<value>alan/share/product/model/Product.hbm.xml</value>
		<value>alan/share/product/model/PersonalAddress.hbm.xml</value>
		<value>alan/share/product/model/OrderItem.hbm.xml</value>
		<value>alan/share/product/model/UserCollections.hbm.xml</value>
		<value>alan/share/lovecard/model/LovePostCard.hbm.xml</value>
		<value>alan/share/lovecard/model/EventParticipate.hbm.xml</value>
		<value>alan/share/lovecard/model/LovePostCardComment.hbm.xml</value>
		</list>
		</property>
	</bean>
	
	<!-- 事务管理 -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
	<property name="sessionFactory" ref="mysessionFactory"></property>
	</bean>
<!-- 开启注解事务 -->
  
  <tx:annotation-driven transaction-manager="transactionManager"/>
  <aop:aspectj-autoproxy proxy-target-class="true" />

           <!-- dao配置 -->
           <bean id="indexDao" class="alan.share.index.dao.IndexDao">
           <property name="sessionFactory" ref="mysessionFactory"/>
           </bean>
           <bean id="tripUserDao" class="alan.share.user.dao.TripUserDao">
           <property name="sessionFactory" ref="mysessionFactory"/>
           </bean>
           <bean id="officialStrategyDao" class="alan.share.officialstrategy.dao.OfficialStrategyDao">
           <property name="sessionFactory" ref="mysessionFactory"></property>
           </bean>
           <bean id="photoDao" class="alan.share.photo.dao.PhotoDao">
           <property name="sessionFactory" ref="mysessionFactory"></property>
           </bean>
           <bean id="userStrategyDao" class="alan.share.userstrategy.dao.UserStrategyDao">
           	<property name="sessionFactory" ref="mysessionFactory"></property>
           </bean>
           <bean id="academyDao" class="alan.share.skillacademy.dao.SkillAcademyDao">
           	<property name="sessionFactory" ref="mysessionFactory"></property>
           </bean>
           <bean id="productDao" class="alan.share.product.dao.ProductDao">
           <property name="sessionFactory" ref="mysessionFactory"></property>
           </bean>
           <bean id="postCardDao" class="alan.share.lovecard.dao.LovePostCardDao">
           <property name="sessionFactory" ref="mysessionFactory"/>
           </bean>
           <!-- service配置 -->
           <bean id="indexService" class="alan.share.index.service.IndexService">
           <property name="strategyDao" ref="userStrategyDao"/>
           <property name="photoDao" ref="photoDao"/>
           <property name="academyDao" ref="academyDao"/> 
           <property name="userDao" ref="tripUserDao"/>
           <property name="indexDao" ref="indexDao"/>          
           </bean>
           <bean id="tripUserService" class="alan.share.user.service.TripUserService">
           <property name="userDao" ref="tripUserDao"/>
           <property name="strategyDao" ref="userStrategyDao"/>
           <property name="photoDao" ref="photoDao"/>
           <property name="academyDao" ref="academyDao"/>
           <property name="indexDao" ref="indexDao"/>
           </bean>
           <bean id="officialStrategyService" class="alan.share.officialstrategy.service.OfficialStrategyService">
           <property name="officialStrategyDao" ref="officialStrategyDao"></property>
           </bean>
           <bean id="photoService" class="alan.share.photo.service.PhotoService">
           <property name="photoDao" ref="photoDao"></property>
           <property name="officialStrategyDao" ref="officialStrategyDao"></property>
           <property name="tripUserDao" ref="tripUserDao"></property>
           </bean>
           <bean id="userStrategyService" class="alan.share.userstrategy.service.UserStrategyService">
           	<property name="userStrategyDao" ref="userStrategyDao"></property>
           </bean>
           <bean id="academyService" class="alan.share.skillacademy.service.SkillAcademyService">
           	<property name="academyDao" ref="academyDao"></property>
           </bean>
           <bean id="productService" class="alan.share.product.service.ProductService">
           <property name="productDao" ref="productDao"></property>
           <property name="userDao" ref="tripUserDao"></property>  
           <property name="officialStrategyDao" ref="officialStrategyDao"></property>         
           </bean>
            <bean id="postCardService" class="alan.share.lovecard.service.LovePostCardService">
            <property name="userDao" ref="tripUserDao"/>
            <property name="postCardDao" ref="postCardDao"/>
            </bean>
           <!-- action配置 -->
           <bean id="tripUserAction" class="alan.share.user.action.TripUserAction" scope="prototype">
           <property name="userService" ref="tripUserService"/>
           <property name="photoService" ref="photoService"/>
           <property name="strategyService" ref="userStrategyService"/>
           <property name="academyService" ref="academyService"/>
           <property name="osStrategyService" ref="officialStrategyService"/>
           <property name="productService" ref="productService"/>
           <property name="indexService" ref="indexService"/>
           </bean>
           <!-- 首页action -->
           <bean id="indexAction" class="alan.share.index.action.IndexAction" scope="prototype">
           <property name="academyService" ref="academyService"/>
           <property name="indexService" ref="indexService"/>
           <property name="photoService" ref="photoService"/>
           <property name="strategyService" ref="userStrategyService"/>
           <property name="productService" ref="productService"></property>
           <property name="oStrategyService" ref="officialStrategyService"/>
           </bean>
           <!-- 用户游记攻略action -->
           <bean id="userStrategyAction" class="alan.share.userstrategy.action.UserStrategyAction" scope="prototype">
           	<property name="userStrategyService" ref="userStrategyService"></property>
           	<property name="tripUserService" ref="tripUserService"></property>
           	<property name="photoService" ref="photoService"></property>
           	<property name="officialService" ref="officialStrategyService"></property>
           </bean>
          
           <!-- 相册action -->
           <bean id="photoAction" class="alan.share.photo.action.PhotoAction" scope="prototype">
           <property name="photoService" ref="photoService"></property>
           <property name="tripUserService" ref="tripUserService"></property>
           </bean>
           <bean id="welcomeAction" class="alan.share.welcome.action.WelcomeAction" scope="prototype">
           </bean>
           <!-- 官方攻略action -->
           <bean id="officialStrategyAction" class="alan.share.officialstrategy.action.OfficialStrategyAction" scope="prototype">
           <property name="officialService" ref="officialStrategyService"></property>
           </bean>
           <!--技法学院action-->
           <bean id="skillAcademyAction" class="alan.share.skillacademy.action.SkillAcademyAction" scope="prototype">
           	<property name="academyService" ref="academyService"></property>
           	<property name="userService" ref="tripUserService"></property>
           </bean>
           <!-- 商城action -->
           <bean id="productAction" class="alan.share.product.action.ProductAction" scope="prototype">
           <property name="productService" ref="productService"></property>
           <property name="userService" ref="tripUserService"></property>
           <property name="academyService" ref="academyService"/>
           </bean>
           <!-- 明信片action -->
           <bean id="loveCardAction" class="alan.share.lovecard.action.LoveCardAction" scope="prototype">
           <property name="postCardService" ref="postCardService"/>
           <property name="userService" ref="tripUserService"/>
           </bean>
</beans>
